/*
 * (C) 2017 Christoph "criztovyl" Schulz
 * GPLv3 and later.
 * Part of studienplan5, a util to convert HTMLed-XLS Studienplände into iCal files.
 * https://gitlab.com/studienplan5/studienplan5-web
 */

body {
}

body > .container {
}

 .inner.cover {
     padding-top: 55px;
 }

.cover p {
    text-align: left;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

p.lead, #about > div > p, .inner.cover.center, .modal-container p {
    text-align: center;
}

/* Modal */
.calendar {
    position: relative;
}

.calendar div.modal-container {

    position: absolute;
    z-index: 100;
    top: 0px;
    left: -10px;
    bottom: 0px;
    right: -10px;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.modal-container  > div {

    z-index: 105;

    width: 30%;
    min-width: 180px;
    margin: 10% auto;
    text-align: center;

    background: white;
    border-radius: 10px;
    padding: 10px;
}
