<div class="">
    <form>
        <label for="class-select" class="sr-only">Klasse</label>
        <select id="class-select" class="form-control">
            <option disabled selected>Bitte Klasse auswählen...</option>
            {{#each optgroups}}
                <optgroup label="{{@key}}">
                {{#each this}}
                    <option value="{{value}}" {{disabled}} {{selected}} {{extra}}>{{text}}</option>
                {{/each}}
                </optgroup>
            {{/each}}
        </select>
    </form>
</div>
