<div>
    <p class="status status-0">Lade Kalender...</p>
    <p class="status status-1">Lade Daten...</p>
    <p class="status status-2 hidden-xs">Bitte oben eine Klasse auswählen.</p>
    <p class="status status-2 visible-xs">Bitte im Menü eine Klasse auswählen.</p>
</div>
